.keypad {
  display: flex;
  height: 400px;
  touch-action: manipulation;
}

.input-keys {
  width: 240px;
}

.function-keys {
  display: flex;
}

.digit-keys {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;

  .key:first-child {
    border-bottom-left-radius: 8px;
  }
}

.operator-keys {
  display: flex;
  flex-direction: column;

  .key:last-child {
    border-bottom-right-radius: 8px;
  }
}
