.keypad {
    display: flex;
    height: 400px;
    touch-action: manipulation;
  }
  
  .input-keys {
    width: 240px;
  }
  
  .function-keys {
    display: flex;
  }
  
  .digit-keys {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
  }
  
  .operator-keys {
    display: flex;
    flex-direction: column;
  }
  
  .key {
    font-weight: 300;
    line-height: 80px;
    display: block;
    width: 80px;
    height: 80px;
    padding: 0;
    cursor: pointer;
    user-select: none;
    text-align: center;
    border-top: 1px solid #2c2f30;
    border-right: 1px solid #2c2f30;
    border-bottom: 0;
    border-left: 0;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.5);
  }
  
  .key--function {
    font-size: 1.75em;
    color: #e2e2e2;
    background: #404243;
  
    &:active {
      color: #e7e7e7;
      background: #616163;
    }
  }
  
  .key--digit {
    font-size: 2em;
    color: #e7e7e7;
    background: #616163;
  
    &:active {
      color: #f9f9f9;
      background: #a3a4a4;
    }
  }
  
  .key--operator {
    font-size: 2.75em;
    color: #fff0df;
    border-right: 0;
    background: #fd9e2b;
  
    &:active {
      color: #fbf6ef;
      background: #c97d20;
    }
  }
  
  .key--zero {
    width: 160px;
    padding-left: 32px;
    text-align: left;
    border-bottom-left-radius: 8px;
  }
  
  .key--dot {
    font-size: 2.75em;
  }
  
  .key--equals {
    border-bottom-right-radius: 8px;
  }
  